<div id="show-tabela" class="container min-vh-95 bg-soft-purple-200 rounded-4 position-relative">
    <h2 class="mb-3 ms-3 mt-4 text-white">Viagens</h2>
    <div class="table-responsive rounded-3">
        <table class="table table-bordered">
            <thead class="table-secondary">
                <tr class="text-center">
                    <th>Passageiro</th>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th>Data</th>
                    <th>Motorista</th>
                    <th>Valor (R$)</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody id="body-tabela">
                <tr class="text-center">
                    <td>Grace Carroll</td>
                    <td>262 Hill Street</td>
                    <td>3939 Williamson Lane</td>
                    <td>08/04/2025</td>
                    <td>Loren Keebler</td>
                    <td>R$ 803,35</td>
                    <td>
                        <button class="btn btn-sm  btn-outline-danger btn-no-hover ">
                            <i class="fa-solid fa-trash text-danger fa-lg"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-outline-success btn-add-trip btn-lg position-absolute top-0 end-0 m-2" id="add-btn">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>