html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.bg-soft-purple-100{
    background-color: rgb(100, 97,118);
}

.bg-soft-purple-200{
    background-color: rgb(44, 38,56);
}

.min-vh-95 {
    min-height: 95vh;  
  }
.min-vh-90{
    min-height: 90vh;
}
  .btn-no-hover:hover{
    background-color: rgba(220, 53, 69, 0.7);
    border-color: rgba(220, 53, 69); 
  }
.btn-add-trip{
    background-color: rgb(44, 38,56);
    color: white;
    border: 2px solid rgb(44, 38,56);
}
#show-tabela > h2{
    padding-top: 20px;
  }
  
  .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(100, 97,118);
}
